<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--lien de mon fichier css
    <link rel="stylesheet" href="style.css"> -->
    <title>Page de Connexion</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 shadow p-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStfG5_I6eMXrnmuJTO5VcADOHkXwK4RcscvAL74svxSD52xnBlkAQO6ERnMDdm_6iqIuw&usqp=CAU" class="img-rounded" alt="...">

                <h3>Créer votre compte</h3>
                <form>
                    <div class="form-group">
                      <label for="exampleInputText1">Prénom</label>
                      <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputText1">Nom</label>
                        <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Address Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager notre Email.</small>
                      </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Mot de passe</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirmez votre Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>

                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Cochez</label>
                    </div>
                    <button type="submit" class="btn btn-dark">Créer</button>
                  </form>

            </div>
            <div class="col-lg-6">

            </div> 
        </div> 
    </div>
</body>
</html>