{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!--lien boostrap-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
  
    <!--barre de navigation-->
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Blogging</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Articles</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="{% url 'contactez' %}">Contactez-nous</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{%url 'propos'%}">À Propos</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link btn btn-success text-white" href="{% url 'connexion' %}">Connexion</a>
              </li>
                
              <li class="nav-item active">
                <a class="nav-link btn btn-dark text-white" href="{% url 'compte' %}">Créer un compte</a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Rechercher Article" aria-label="Search">
              <button class="btn btn-outline-info" type="submit">Rechercher</button>
            </form>
          </div>
        </div>
    </nav>
    <!--FIN barre de navigation-->
    <br/>
    <!--Partie Article-->
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">

          <div class="card mb-3">
            <img src="https://image-tc.galaxy.tf/wijpeg-ailbh4evwrl7ey6pupuswzmrp/azalai-hotel-cotonou_standard.jpg?crop=107%2C0%2C1707%2C1280" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card mb-3">
            <img src="https://i.pinimg.com/originals/7a/00/d9/7a00d980ba147cc17d2536ee7a6082e1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card mb-3">
            <img src="https://image-tc.galaxy.tf/wijpeg-8yyb89qrfrqk1fvnfmn9i6pqt/azalai-grand-hotel-pool_standard.jpg?crop=102%2C0%2C1717%2C1288" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

            <!--carte-->
            

          </div>
        </div>
    </div>

    <!--FIN partie Article-->

</body>
</html>