<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Propos</title>
</head>
<body>
    <div>
        <p>Je m'appelle Rashid Joseph Amadou Balla Badji, j'ai 26 ans et je vis à Dakar .</p>
        <p>Je suis diplomé d'une licence en réseau télécom à l'école superieur des sciences appliquées .</p>
        <p>Actuellement je suis une formation en Python à Xarala .</p>
    </div>
</body>
</html>